*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    #top_nav{
        width: 100%;
    }

}
#side_navbar{
    width: 300px;
    margin-top: -8px;
    aside{
        height: 94.6vh;
        ul{
            li{
                list-style:none;
                padding: 15px;
                font-size: 23px;
                &:hover{
                    background-color: white;
                }
                i{

                    margin-right: 15px;
                }
                a{
                    text-decoration: none;
                    color:black;


                }
            }
        }
    }
}